body {
  justify-content: center;
  align-items: center;
  height: 100vh;
  display: flex;
}

.tab-inner {
  /* border: 1px solid red; */
  width: 300px;
  height: 350px;
}

input[name="tabmenu"] {
  display: none;
}

.slide {
  position: relative;
  /* 자식 요소(slide-inner)에 position:aboslute가 들어가면 부모요소는 높이값을 잃기 때문에 height값을 줘야 함. 이거 중요 계속 반복되고 있음 */
  width: 300px;
  height: 300px;
  overflow: hidden;
}

.slide-inner {
  width: 900px;
  font-size: 0;
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.5s;
}

.btn {
  text-align: center;
  margin-top: 10px;
}

.btn label {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: lightgray;
  border-radius: 50%;
  cursor: pointer;
}

input[id="tab1"]:checked ~ .slide .slide-inner {
  left: 0;
}

input[id="tab2"]:checked ~ .slide .slide-inner {
  left: -300px;
}

input[id="tab3"]:checked ~ .slide .slide-inner {
  left: -600px;
}

input[id="tab1"]:checked ~ .btn label[for="tab1"],
input[id="tab2"]:checked ~ .btn label[for="tab2"],
input[id="tab3"]:checked ~ .btn label[for="tab3"] {
  background-color: crimson;
}
